<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @client.name %></h1>
<p>
  This email serves as a confirmation that you have signed up an Expression of Interest with Clique.
</p>
</body>
</html>